.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  padding: 20px;
  /*background-color: rgba(255, 255, 255, 0.8); /* Light and transparent background */
  z-index: 1000;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  box-sizing: border-box; /* Include padding in width */
}

.navbar-icon {
  font-size: 24px;
  cursor: pointer;
  display: block; /* Ensure the icon is always visible */
}

.navbar-menu {
  display: none; /* Hide the menu by default */
  flex-direction: column;
  gap: 10px; /* Space between menu items */
  background-color: rgba(255, 255, 255, 0.8); /* Add background color */
  padding: 10px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  position: absolute;
  top: 60px; /* Position below the navbar */
  right: 20px; /* Align to the right */
}

.navbar-menu a {
  color: #004E42;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.navbar-menu a:hover {
  background-color: #91CFEB;
}

.navbar-menu.open {
  display: flex; /* Show the menu when open */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: flex-end; /* Align items to the right */
    padding: 10px;
    background-color: transparent; /* Remove background color */
  }

  .navbar-icon {
    color: #FFFFFF; /* Change icon color to white */
  }

  .navbar-menu {
    display: none; /* Hide the menu by default on smaller screens */
  }

  .navbar-menu.open {
    display: flex; /* Show the menu when open */
    flex-direction: column;
    gap: 10px; /* Reduce space between menu items */
    background-color: rgba(255, 255, 255, 0.8); /* Add background color when open */
    padding: 10px; /* Add padding when open */
    border-radius: 5px; /* Add border radius when open */
  }

  .navbar-menu a {
    width: 100%;
    text-align: right; /* Align text to the right */
    padding: 8px; /* Reduce padding */
    margin-right: 30px; /* Add margin to move text from the right edge */
  }

  .navbar-icon.hidden {
    display: none; /* Hide the icon when menu is open */
  }
}